@model Employee_Management_System.Models.mvcDepartmentModel
@{
    ViewBag.Title = "AddorEdit";
}

<div>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.DepId)

        <div>
            @Html.LabelFor(model => model.Depname)
            @Html.EditorFor(model => model.Depname)
            @Html.ValidationMessageFor(model => model.Depname)
        </div>

        <div>
            @Html.LabelFor(model => model.Depusername)
            @Html.EditorFor(model => model.Depusername)
            @Html.ValidationMessageFor(model => model.Depusername)
        </div>

        <div>
            @Html.LabelFor(model => model.Deppassword)
            @Html.EditorFor(model => model.Deppassword)
            @Html.ValidationMessageFor(model => model.Deppassword)
        </div>

        <div class="dep-submitbutton">
            <input type="submit" value="Create" class="Dep-sub-btn" />
        </div>
    }

</div>

